.DS_Store
applet
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
build-tmp/
builds/
.vscode/
myRecording.wav
*.MOV
data/visitor_interview.MOV
save/Operator/0/Operator_8.25.2018_7.51.14.wav
*.wav
